
/* GENERAL */

.spinner {
    padding: 5px;
    position: absolute;
    right: 0;
}

body {
    background: #fff;
    color: #333;
    font: 16px verdana, arial, helvetica, sans-serif;
}
#grailsLogo {
	padding:20px;
}

a:link, a:visited  {
    color: #A4BDA7;
    font-weight: bold;
    text-decoration: none;
}
a:hover{
    color:#E1FFA6;
    font-weight: bold;
    text-decoration: none;
}
h1 {
    color: #48802c;
    font-weight: normal;
    font-size: 16px;
    margin: .8em 0 .3em 0;
}

ul {
    padding-left: 15px;
}

input, select, textarea {
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    font: 11px verdana, arial, helvetica, sans-serif;
    margin: 2px 0;
    padding: 2px 4px;
}
select {
   padding: 2px 2px 2px 0;
}
textarea {
	width: 250px;
	height: 150px;
	vertical-align: top;
}

input:focus, select:focus, textarea:focus {
    border: 1px solid #b2d1ff;
}

.body {
    float: left;
    margin: 0 15px 10px 15px;
}

/* NAVIGATION MENU */

.nav {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    border-style: solid none solid none;
    margin-top: 5px;
    padding: 7px 12px;
}

.menuButton {
    font-size: 10px;
    padding: 0 5px;
}
.menuButton a {
    color: #333;
    padding: 4px 6px;
}
.menuButton a.home {
    background: url(../images/skin/house.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}
.menuButton a.list {
    background: url(../images/skin/database_table.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}
.menuButton a.create {
    background: url(../images/skin/database_add.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}

/* MESSAGES AND ERRORS */

.message {
    background: #f3f8fc url(../images/skin/information.png) 8px 50% no-repeat;
    border: 1px solid #b2d1ff;
    color: #006dba;
    margin: 10px 0 5px 0;
    padding: 5px 5px 5px 30px
}

div.errors {
    background: #fff3f3;
    border: 1px solid red;
    color: #cc0000;
    margin: 10px 0 5px 0;
    padding: 5px 0 5px 0;
}
div.errors ul {
    list-style: none;
    padding: 0;
}
div.errors li {
	background: url(../images/skin/exclamation.png) 8px 0% no-repeat;
    line-height: 16px;
    padding-left: 30px;
}


/* LIST */

.list table {
    border-collapse: collapse;
}
.list th, .list td {
    border-left: 1px solid #ddd;
}
.list th:hover, .list tr:hover {
    background: #b2d1ff;
}

/* PAGINATION */

.paginateButtons {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    border-top: 0;
    color: #666;
    font-size: 10px;
    overflow: hidden;
    padding: 10px 3px;
}
.paginateButtons a {
    background: #fff;
    border: 1px solid #ccc;
    border-color: #ccc #aaa #aaa #ccc;
    color: #666;
    margin: 0 3px;
    padding: 2px 6px;
}
.paginateButtons span {
    padding: 2px 3px;
}

/* DIALOG */

.dialog table {
    padding: 5px 0;
}

.prop {
    padding: 5px;
}
.prop .name {
    text-align: left;
    width: 15%;
    white-space: nowrap;
}
.prop .value {
    text-align: left;
    width: 85%;
}

/* ACTION BUTTONS */

.buttons {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    color: #666;
    font-size: 10px;
    margin-top: 5px;
    overflow: hidden;
    padding: 0;
}

.buttons input {
    background: #fff;
    border: 0;
    color: #333;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    margin-left: 3px;
    overflow: visible;
    padding: 2px 6px;
}
.buttons input.delete {
    background: transparent url(../images/skin/database_delete.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.edit {
    background: transparent url(../images/skin/database_edit.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.save {
    background: transparent url(../images/skin/database_save.png) 5px 50% no-repeat;
    padding-left: 28px;
}

#headerBar{
    margin:0 auto;
    position:relative;
    width:1000px;
    background: #666666;
    height:100px;
    color: #33292B;
    text-align: center;
    vertical-align:middle;
}
body{
    background: #63666E;
    color: #33292B;
}
.mainBody{
    background:white;
    margin: 5px auto;
    width:1000px;
    min-height:800px;

}
html * {
    margin: 0;

}

div{
    display:block;
    margin: 0 auto;
}
#navTop{
    width:1000px;
  background: #63666E url(../images/Menu.png) repeat-x scroll left bottom;
    height:20px;
}

#ulNav{
    clear: both;
    line-height: 1em;
    height: 30px;
    margin: 0;
    padding: 0 0 0 10px;
    position: relative;
    text-transform: uppercase;
    z-index: 100;
}

#navigation{
    width:1000px;
    background: #33292B url(../images/Menu.png) repeat-x scroll left bottom;
}
#ulNav li{
    float:left;
    list-style-type: none;
}

#ulNav li a{
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    text-decoration: none;
    font-size:16px;
}
.pageTitle{
 font-size:30px;
    padding-left:30px;
    padding-top:20px;
     display:inline-block;
    text-align:left;
}
.subTitle{
    display:inline-block;

    padding-left:30px;
    text-align:center;
    font-size:20px;
     color:#495A8C;
}
.breadCrumbs{
  padding-left:30px;
  padding-top:20px;
    height:25px;
}

.breadCrumbs li a{
    margin-right: 1px;
padding-right: 15px;
    display: inline;
 background: url(../images/tiny_arrow.png) no-repeat right;

}

.breadCrumbs li{
    margin-right: 1px;
    display: inline;

}
table{
    display:table;
}

.mainContent{
    margin-top:15px;
    margin-left:35px;
}
.moteList{
    font-size:25px;
    color:black;
    vertical-align:middle;
    padding-bottom:10px;

}
.moteList img{
    height:30px;
    vertical-align:middle;
    padding-left:10px;
}

#newMote{
    padding-left:30px;
    font-size:20px;
    padding-bottom:10px;
}

.moteInfo{
    padding-right:30px;
}

.sensorInfo{
    padding-right:30px;
}
.sensorList{
    font-size:25px;
    color:black;
    vertical-align:middle;
    padding-bottom:10px;

}
.sensorList img{
    height:30px;
    vertical-align:middle;
    padding-left:10px;
}
#newSensor{

    padding-bottom:10px;
}
#newSensorDiv{
   display: inline-block;
    padding:10px;
    font-size: 1.2em;
    vertical-align:middle;
    padding-left:100px;
}
.newSensorInputP label{
    display: inline-block;
   padding-right:30px;
    padding-top:5px;
    float:left;
    width:100px;
    vertical-align:middle;
}
.newSensorInputP input{
    display: inline-block;
    width:200px;
    padding:10px;
    font-size: 1.2em;
}
.newSensorInputP select{
    display: inline-block;
    width:200px;
    padding:10px;
    font-size: 1.2em;
}

#newSensorDiv p{
    margin: 20px;
}
label.error{
   text-align:center;
    color:red;
    width:500px;
    font-size:16px;
    display: block;
}

.submit{
    width:100px;
      font-size:16px;
    display: block;
    background-color:#a9a9a9;
    cursor:pointer;
}


#newMoteDiv{
   display: inline-block;
    padding:10px;
    font-size: 1.2em;
    vertical-align:middle;
    padding-left:100px;
}
.newMoteInputP label{
    display: inline-block;
   padding-right:30px;
    padding-top:5px;
    float:left;
    width:100px;
    vertical-align:middle;
}
.newMoteInputP input{
    display: inline-block;
    width:200px;
    padding:10px;
    font-size: 1.2em;
}
.newMoteInputP select{
    display: inline-block;
    width:200px;
    padding:10px;
    font-size: 1.2em;
}
#newMoteDiv p{
    margin: 20px;
}

.graph{
    padding-top:40px;
}

.sensorNameDiv{
    width:500px;
    color: #495A8C;
    margin-top:20px;
}
.graphOptions{
    width:500px;

}
.hardLink a{
    color:#495A8C;
}